body {
  background-color: MediumSeaGreen;
}
.rainbow-text {
  background-image: repeating-linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2 {
  color: white;
}
p {
  color: white;
}
li {
  color: white;
}
